body{
	color: #5f5e5e;
}

a {
	color: #5f5e5e;
}

a:hover{
	color: #1141a4;
	text-decoration:none;
}

.badge{
	height:20px;
	width:40px;
}

.card{
	margin-bottom: 20px;
	}

.agViagens2{
	text-align: center;
}

footer{
	text-align: center;
	margin-bottom: 40px;
	margin-top: 40px;
}
